:root {
    /* основний текстовий колір */
    --dark-text-color: #2E2F42;
   /* --title-text-color: #2E2F42; */
       /* другорядний текстовий колір */
       --primary-text-color: #434455;
   /* колір фону page  */
   --accent-color: #E7E9FC;
   /* --third-text-color: #E7E9FC; */
   /* акцентований колір */
   --primary-brand: #4D5AE5;
   /* hower1 */
   --primary-hover: #404BBF;
   /* --accent-text-color: #4D5AE5;  */
   /* білий колір тексту */
  --primary-white-color:  #FFFFFF;
  /* другий колір фону */
  --secondary-bg-color: #E5E5E5;
  /* третій колір фону */
  --light-color:#F4F4FD; 
  /* --third-bg-color:#F4F4FD;  */

  --subtle-text-color: #8E8F99;

  /* Font-family-first */
  --first-font-family: 'Roboto', sans-serif;
  /* Font-family-second */
  --secondary-font-family: 'Raleway', sans-serif;
}
*,
*:after,
*:before {
    box-sizing: border-box;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@viewport {
    width: device-width;
    zoom: 1.0;
} */

/* html { 
    box-sizing: border-box;
  
} */
 body {
    background-color: var( --primary-white-color);
    color: var(--primary-text-color);
    font-family: var(--first-font-family);
} 

.header {
    /* background-color: var(--color-background);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08); */
  }

.page-header { 
    background-color: var(--primary-white-color);
    width: 1440px;
    height: 72px;
}


    /* --------------Навигація на інші сторінки --------------*/

.container { 
    width: 1128px;
    height: 72px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px; 
}

  
/* ------------logo----------------*/

.logo {
    color: var(--dark-text-color);
    text-decoration: none;
    font-family: var(--secondary-font-family);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: left;
    vertical-align: center;  
}

.logo-icon { 
    color: var(--primary-brand);
}

/* ------------logo----------------*/

/* ------------site-nav----------------*/
.nav {
    display: flex;
    align-items: center;
   
}

.site-nav, 
.auth-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav {
    display: flex;
    margin-left: 77px;
}

.site-nav .link {
    display: block;
    font-family: var(--first-font-family);
    color: var(--dark-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    vertical-align: top;
    flex:none;
}

.site-nav .link:hover{
    color: var(--primary-brand);
}
.site-nav .link:active {
color: var(--primary-text-color);
}

.site-nav .items + .items{
    margin-left: 40px;
} 


/* ------------site-nav----------------*/

/* ------------auth-list----------------*/

.auth-list {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.auth-list .item + .item {
    margin-right: 0;
    margin-left: 40px;

}

.contacts {
    font-family: var(--first-font-family);
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left; 
    vertical-align: top;
}
.contacts:hover {
    color: var(--primary-brand);
}
/* ------------auth-list----------------*/

    /* --------------Навигація на інші сторінки --------------*/



    /*------------- Унікальний контент сторінки ---------------*/

/* ------------services----------------*/

.section-hero,
.container-hero {
    margin: 0;
    padding: 0;
    
}
.section-hero {
    width: 1440px;
    height: 603px;
    background-color: var(--dark-text-color);
    text-align: center; 
    padding: 192px 474px 0 474px;
}

.container-hero {
    text-align: center; 
}

.container-hero .title{
    width: 496px;
    color: var(  --primary-white-color);
    font-family: var(--first-font-family);
    font-weight: 600;
    font-size: 56px; 
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    vertical-align: top;
    border-radius: nullpx;
}

.container-hero .btn{
    margin: 48px auto 192px auto;
    display: block;
    text-align: center;
    background-color: var(--primary-brand);
    width: 171px;
    height: 51px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    font-family: var(--first-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-align: left;
    text-decoration: none;
    vertical-align: center;
    color: var( --primary-white-color);
    cursor: pointer;
 
}

.container-hero .btn:hover,
.container-hero .btn:focus{
   background-color: var(--primary-hover);
   opacity: 10;
}
.container-hero .btn:active {
    color: var(--primary-brand);
}

/* ------------services----------------*/


/* ------------feature-section----------------*/

/* <!--  Переваги --> */

.feature-section{
    padding: 120px 156px;
    width: 1440px;
    height: 344px;
    border-radius: 0px; 
}

.container-3 {
    height: 104px; 
    width: 1128px;
}
.feature-section .title{
    display: none;
}

.feature-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.feature-list .item + .item {
    margin-left: 21px;
}
.feature-list .item{
    width: 267px;
    height: 104px;
    border-radius: 0px;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 7px;
    height: 24px;
    color: var(--dark-text-color);
    font-family: var(--first-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    vertical-align: top;
    border-radius: nullpx;  
}

.feature-list .text {
        /* height: 72px; */
    margin-top: 0;
    margin-bottom: 0;
    color: var( --primary-text-color);
    font-family: var(--first-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left; 
    vertical-align: top; 
    border-radius: nullpx;
 }
     
 /* ------------feature-section----------------*/
      
 /* ---------------section-work----------------*/

.section-work {
    padding: 0 156px 120px 156px;
    width: 1440px;
    height: 532px;
    color: var(--dark-text-color);
    text-align: center;
    border-radius: 0px;
   
}

.container-4 {
    width: 1129px;
    height: 417px;
 }

.section-work .title {
    margin-top: 0;
    margin-bottom: 70px;
    color: var(--dark-text-color);
    font-family: var(--first-font-family);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    vertical-align: top;
}

.section-work .list{
    margin: 0;
    padding: 0;
    height: 311px;
    display: flex;
    list-style: none;
}

.section-work .item +.item{
    margin-left: 24px;
}
.section-work .item{
    margin-top: 0;
    margin-bottom: 0;
}
.section-work .picture{
    height: 300px;
    width: 360px;
    background-color: var(--accent-color);
    border-radius: 0px;
}
 /* ---------------section-work----------------*/





  /* ---------------section-team----------------*/
.section-team{
    padding: 120px 156px;
    height: 732px;
    width: 1440px;
    background-color: var(--light-color);
    text-align: center;
}

.container-5 {
    /* border: 1px solid black; */
}

.section-team .title {
    margin-bottom: 72px;
    color: var(--dark-text-color);
    font-family: var(--first-font-family);
    font-size: 36px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    vertical-align: top;
    
}

.section-team .list {
    margin: 0;
    padding: 0;
    align-items: center;
    display:flex;
}

.section-team .item + .item {
    margin-left: 24px;
}

.section-team .item{
    padding: 0px 0px 32px 0px;  
    height: 380px;
    width: 264px;
    border-radius: 4px;
    list-style: none;
    background-color:var(--primary-white-color);
}

.section-team .image {
    height: 260px;
    width: 264px;
    border-radius: 0px;
}



.section-team .subtitle {
    margin-top: 32px;
    margin-bottom: 8px;
    color: var(--dark-text-color);
    font-family: var(--first-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center; 
    vertical-align: top;
    border-radius: nullpx;
}

.section-team .text {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--primary-text-color);
    font-family: var(--first-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    vertical-align: top;
    border-radius: nullpx;
}

.section-team .card-1{
    margin-left: 64px;
    margin-right: 64px;
}
.section-team .text-1 {
    margin-left: 68px;
    margin-right: 68px;
}
.section-team .card-2{
    margin-left: 60px;
    margin-right: 60px;
}

.section-team .text-2 {
    margin-left: 60px;
    margin-right: 60px;
}
.section-team .card-3{
    margin-left: 66px;
    margin-right: 66px;
}

.section-team .text-3 {
    margin-left: 94.5px;
    margin-right: 94.5px;
}
.section-team .card-4{
    margin-left: 68px;
    margin-right: 68px;
}

.section-team .text-4 {
    margin-left: 89.5px;
    margin-right: 89.5px;
}


/* ---------------section-team----------------*/


 /* ---------------footer----------------*/
 .footer{
    width: 1440px;
    /* height: 310px; */
   
 }
 .container-6{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 156px;
    background-color: var(--dark-text-color);
    /* height: 110px;
    width: 264px; */
 }

 .container-6 .logo {
    margin-bottom: 16px;
    font-family: var(--secondary-font-family);
    color: var(--light-color);
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    vertical-align: center;
    border-radius: nullpx;
 }

 .container-6 .logo-icon{
    font-family: var(--secondary-font-family);
    color: var(--primary-brand); 
    font-size: 18px;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left; 
    vertical-align: center;
    border-radius: nullpx;
}

.container-6 .text {
    font-family: var(--first-font-family);
    color: var(--accent-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    vertical-align: top; 
}

/*------------ portfolio page -----------*/

 /*-------------- filter -------------- */
.filter-section {
width: 1440px;
}

.filter-section .title {
    display: none;
}

.filter-list {
    margin: 0;
    padding: 0;
    padding: 96px 427px 72px 427px;
    list-style: none;
    display: flex;
    width: 586px;
    height: 48px;
    
}

.filter-list .item + .item {
    margin-left: 24px;
}

.filter-list .btn {
    padding: 12px 24px;
    font-family: var(--first-font-family);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.filter-list .btn:hover,
.filter-list .btn:focus {
    color: var(--primary-white-color);
    background-color: var(--primary-brand); 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),    0px 2px 2px rgba(0, 0, 0, 0.12); 
    border: 1px solid transparent; 
    border-radius: 4px;
}

.btn-1{
    color: var(--primary-white-color); 
    background-color: var(--primary-brand);
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12);
    width: 69px;
    height: 48px;
  
}
.btn-2,
.btn-3,
.btn-4,
.btn-5{
    color: var(--primary-brand);
    background-color: var(--accent-color);
}
.btn-2 {
    width: 119px;
    height: 48px;
}
.btn-3 {
    width: 78px;
    Height: 48px;
}
.btn-4 {
    width: 101px;
    height: 48px;
}
.btn-5 {
    width: 126px;
    height: 48px;
}


 /*-------------- filter -------------- */



/*------------ Galerry ----------------*/

.row {
    margin: 0;
    padding: 0;
    /* padding: 72px 156px 120px 156px; */
    padding-top: 72px;
    padding-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    /* width: 1130px; */
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
}
.project-card {
   display: flex;
   flex-direction: column;
   height: 420px;
   width: 360px;
    border-radius: 0px;
    margin-right: 24px;
    margin-bottom: 48px;

}
.row .project-card:nth-child(3n){
    margin-right: 0;
}
.row .project-card:nth-last-child(-n + 3){
margin-bottom: 0;
}
/* .project-card .desc {
    font-family: var(--first-font-family);
    color: var(--light-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    vertical-align: top;
} */

.project-card .image {
    height: 300px;
    width: 360px;
    border-radius: 0px;
}

.project-card .subtitle {
    margin: 32px auto 8px 16px;
    font-family: var(--first-font-family);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    vertical-align: top;
    color: var(--dark-text-color);
}
.project-card .text {
    margin: 0 auto 32px 16px;
    font-family: var(--first-font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;  
    color: var(--primary-text-color);
}

/*------------ Galerry ----------------*/
